@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

$primary-color:#43435c;
$textFont:'Gilda Display','Cambria', 'Cochin','Bangers', cursive;
$primary-btnColor:#a52a2a;


body{
    font-family: $textFont;
    background-color: $primary-color;
}
button
{
    background-color: $primary-color
}
