canvas {
    width: 70%;
    height: 50em;
    background-color: #f1c2c2;

    margin-right: 10px;
    margin-top: 70px;
}
@media (max-width: 1120px) {
    canvas {
        width: 90%;
        margin-left: 6px;
    }
}
@media only screen and (max-width: 600px){
    canvas {
        width: 33.5em;
        margin-left: 6px;
    }
    h3{
        width: 30em;
    }
}
.canvas {
    width: 70%;
    height: 50em;
    background-color: #f1c2c2;
    margin-bottom: 10px;
    margin-right: 10px;
}