html{
    width: 100%;
}
.header {
    width: 100%;
    border: 2px solid black
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: snow;
    background-color: #252525;
}
#ls-modele-1{
    border: none;
}
button{
    padding: 0.5em;
    background-color: #d7f6e1;
    border-radius: 10px;
    margin-bottom: 7em;

}


