html{
    width: 100%;
}
.header {
    width: 100%;
    border: 2px solid black
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: snow;
    background-color: #252525;
}
#ls-modele-1{
    border: none;
}
button{
    padding: 0.5em;
    background-color: transparent;
    font-family: Menlo, Roboto, serif;
    color: snow;
    margin-bottom: 1em;
}
.buttonContainer{
    margin-bottom: 5em;
}

.buttonRed:hover{
    background-color: #d40a0a;
}
.buttonBlack:hover{
    background-color: snow;
    color: #0a0a0a;
}
.buttonGreen:hover{
    background-color: #69e08b;
}