$minimise-screen:1175px;
$big-screen-phone:600px;


#mainCanv {
    display: flex;
    width: 80%;
    height: 38em;
    margin-top:2% ;
    margin-bottom:4% ;
    margin-left: 1.5em;
}

@media (max-width: $minimise-screen) {
    .mainCanv {
        width: 90%;
        height: 38em;
        margin: auto;
    }
}
@media only screen and (max-width: 600px){
    .mainCanv {
        margin:auto;
    }
}


