html {display: flex; flex-direction: column;} /* IE fix */

body {
	display: flex; /* crée un contexte flex pour ses enfants */
	flex-direction: column; /* affichage vertical */
	min-height: 100vh; /* toute la hauteur du viewport (compatible IE9+) */
	margin: 0;
	padding: 0;
}

#application-canvas{
	
	width: 100%;
}

canvas:focus {
    outline: none;
}



#container3D canvas {
	
	border: 2px double rgb(110, 93, 93);
	
	
}
#container3D{
	
	margin: auto;
	
}
