@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

$minimise-screen:1175px;
$big-screen-phone:600px;
$mainFont:'Gilda Display','Cambria', 'Cochin','Bangers', cursive;
.conf{
    height: 18vh;
    padding-bottom: 1em;
}
.main{
    width: 95%;
    height: 18vh;
    font-family: $mainFont;
    display: flex;
    flex-direction: row;
}
.main,p{
    color: floralwhite;
    font-size:1.35em;
    margin: auto;
}
main,p:hover{
    color: rgb(55, 91, 133);
    font-weight: bolder;
}
.colorRed:hover{
    color: rgb(212, 10, 10);
}
.colorGreen:hover{
    color: rgb(76, 209, 116);
}
.color{
    display: flex;
    flex-direction:row ;
    margin-top: -3em;
}
.colorRed, .colorBlack, .colorGreen{ 
    width: 7em;
    height: 5em;
    font-family: $mainFont;
}
.mountain, .road, .heli, .bridge{ 

}


