@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');;

$primary-btnColor:#a52a2a;
$big-screen-phone:600px;
$minimise-screen:1120px;

.button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 7em;
    height: 6em;
    background-color: cornsilk;
    border-radius: 15%;
    outline: none;
}
.button:hover{
    font-family: 'Bangers', cursive;
    color:$primary-btnColor
}

.button:active,.button:active,.button:focus{
    font-family: 'Bangers', cursive;
    color: $primary-btnColor
    
}

@media (max-width: $minimise-screen){
    .button{
    margin-left: 5px;
    }
}
@media (max-width: $big-screen-phone){
    .button{
        width: 4.5em;
        height: 4.5em;
    }
}
