.header {
    width: 100%;
    border: 2px solid black
}

body {
    text-align: center;
    align-items: center;
}

.article {
    margin: auto;
    text-align: center;
    width: 80%
}

iframe {
    width: 90%;
    height: 48em;
}