$big-screen-phone:600px;
$minimise-screen:1175px;

.app{
  
  margin: auto;
  padding:2em;
  width: 95%;
  height: 40em;
  background-color: blanchedalmond;
}

@media (max-width: $minimise-screen) {
  .app{
    display: flex;
  flex-direction: column;
  }
}