@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

$minimise-screen:1175px;
$big-screen-phone:600px;
$textFont:'Gilda Display','Cambria', 'Cochin','Bangers', cursive;

.main{
    display: flex;
    flex-direction: row;
    font-family: $textFont;
}
.main,p{
    color: floralwhite;
    font-size:1.5em;
    margin-right:0.3em ;
}
p:hover{
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
.colorRed:hover{
    color: rgb(212, 10, 10);
}
.colorGreen:hover{
    color: rgb(76, 209, 116);
}
.color{
    display: flex;
    flex-direction:row ;
    margin-top: -3em;
    margin-right:0.5em ;
    margin-bottom: -7em;
}
.colorRed, .colorBlack, .colorGreen{ 
    width: 5em;
    height: 5em;
    border-radius: 50%;
    outline: none;
    padding: 1em;
    margin-left: -0.8em;
}
.mountain, .road, .heli, .bridge{ 
    width: 5em;
    height: 5em;
    border-radius: 50%;
    outline: none;
    padding: 1em;
    margin-left: -0.8em;
    background-color: rgb(250, 176, 127);
}

@media (max-width: $minimise-screen) {

    .mountain, .road, .heli, .bridge{ 
        margin-top: 4em;
    }
    .main,p{
        font-size:1.3em;
    }

}
@media only screen and (max-width: $big-screen-phone) {
    .main{
        flex-direction: row;
        width: 98%;
        margin: auto;
        margin-top: -1em;
        margin-left: -1em;
    }
    .menuColor, .menuEnvironment,.menuMaterial, .menuAccesory, .menuView{
        width:98%;
        height: 4em;
        margin-top: -1em;
        margin-left: -1em;
    }
   

}
