$minimise-screen:1175px;
$big-screen-phone:600px;

.main{
  
    float: left;
    margin-bottom: 1em;
    margin-right: 5em;
}

.colorRed, .colorBlue, .colorGreen{ 
    width: 5em;
    height: 5em;
    border-radius: 50%;
    outline: none;
    padding: 1em;
    margin-top: 3em;
    margin-left: -0.8em;
}

.colorRed{ background-color: rgb(218, 44, 44);}
.colorBlue{background-color: rgb(130, 166, 243);}
.colorGreen{background-color: rgb(130, 204, 115);}

@media (max-width: $minimise-screen) {
    .main{
        flex-direction: row;
        margin-top: 1em;
        width: 38em;
        height: 8em;
        margin-right: -4em;
    }
    .colorRed, .colorBlue, .colorGreen{ 
  
        margin-top: 4em;
    }

}
@media only screen and (max-width: $big-screen-phone) {
    .main{
        flex-direction: row;
        width: 98%;
        margin: auto;
        margin-top: -1em;
        margin-left: -1em;
    }
    .menuColor, .menuEnvironment,.menuMaterial, .menuAccesory, .menuView{
        width:98%;
        height: 4em;
        margin-top: -1em;
        margin-left: -1em;
    }
   

}
